.add-todo
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .add-todo__input--text
    {
        margin-right: 20px;
        flex:1;
        outline: none;
        font-size: 16px;
        border:2px solid #e4e4e4;
        border-radius: 2px;
    }
    .add-todo__input--submit
    {
        background-color: #007bff;
        color: white;
        border-radius: 3px;
        border: 0;
        padding: 10px 20px;
        font-weight:200;
        font-size: 12px;
    }
}

@media screen and (max-width:1024px)
{
    .add-todo
    {
        margin: 0px auto;
        .add-todo__input--text
        {
            width: 100%;
            padding: 15px;
        }
        .add-todo__input--submit
        {
            font-size: 22px;
            padding: 12px;
        }
    }
}

@media screen and (max-width:740px)
{
    .add-todo
    {
        flex-direction: column;
    }
}